In [20]:
from pymongo import MongoClient
import pandas as pd

In [18]:
clinet = MongoClient()
db = client['test']
tv_series = db['tv_series']

In [22]:
data = pd.DataFrame(list(tv_series.find()))

In [24]:
data.columns

Index(['IMDB_id', '_id', 'description', 'duration', 'genre', 'image_url',
       'popularity_rank', 'rate', 'recommandations', 'title', 'year'],
      dtype='object')

In [30]:
data[['popularity_rank','title','genre']].sort_values('popularity_rank').head(10)

   popularity_rank                      title                     genre
0                1                        You    Crime, Drama, Thriller
12              10                  Outlander   Drama, Fantasy, Romance
67             100              The Magicians            Drama, Fantasy
78             101                  The Crown            Drama, History
11              11         Brooklyn Nine-Nine             Comedy, Crime
10              12  The Marvelous Mrs. Maisel             Comedy, Drama
9               13             True Detective     Crime, Drama, Mystery
93             134          Last Man Standing                    Comedy
94             135            Sons of Anarchy    Crime, Drama, Thriller
90             138                   MacGyver  Action, Adventure, Drama

In [19]:
db.list_collection_names()

['tv_series']

In [15]:
client.close()